.form-control{
    border: 1px solid;
}
.form-select{
    border: 1px solid;
}

.table{
    text-align: center;
    padding: 100px;
}
.bg-employee{
    background-image:url("/images/employeeRegestrationBG1.png") ;
    /* height: 900px; */
    padding: 50px;
}
.text-center
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(0, 37, 93);
    font-size: 50px;

    text-shadow: 2px 2px 4px rgba(255, 204, 0, 0.5);
   
}
.col-6 {
   
    /* top: 50%; */
    padding-top: 10px;
    color: aqua;
    
    /* size: 20px; */
}
.add-button 
{
    
    /* size: 480px;
    box-sizing: 20px;
      border:none;
    text-align: center;
       box-sizing: 150px;
       border-radius: 7px; 
    width: 150px;
    cursor: pointer;
    background-color:rgb(209, 17, 65);*/
    box-shadow: 1px 1px 2px rgb(235, 19, 19); 
    width: 200px; /* Adjust width */
    height: 60px; /* Adjust height */
    padding: 15px 30px; /* Add padding for better appearance */
    font-size: 18px; /* Adjust font size */
    background-color: #198754; /* Button color */
    color: white; /* Text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Optional: rounded corners */
    cursor: pointer; /* Pointer cursor for buttons */
    text-align: center;

}

